.footer{
    text-align: center;
    small{
        max-width: 120rem;
        margin: 0 auto;
        font-size: 2.5rem;
        font-family: 'Times New Roman', Times, serif;
    }
    .whatsapp{
        position: fixed;
        bottom: 2rem;
        right: 4rem;
        a img{
            width: 6rem;
        }
    }
    .instagram{
        position: fixed;
        bottom: 2rem;
        right: 12rem;
        a img{
            width: 6rem;
        }
    }
}
